.container{
    width:500px;
    height:300px;
    border:2px solid black;
    background-color: rgb(180, 178, 178);
    position:relative;
    overflow:hidden;
}
.box{
    width:100px;
    height:100px;
    border:2px solid rgb(60, 40, 125);
    float:left;
    margin:10px;
}
.box1{

    background-color:rgb(120, 120, 76);
}
.box2{
    background-color:rgb(76, 120, 120);
}
.box3{
    background-color:rgb(120, 76, 120);
}
.box3:hover{
    position: relative;
    left: 50px;
    top:30px;

}
.box2:hover{
    position:absolute;
    top:50px;
    left:200px;

}